@charset "ISO-8859-1";
.sidenav {

  width: 8%;
  z-index: 1;
	top:0;
  left: 0;
  margin-top: 3%;
  background-color: #343a40;
  overflow-x: hidden;
  padding:2%;
 
}

.sidenav a {
  
	margin-left:-50%;
	margin-top:15%;
  text-decoration: none;
  font-size: 15px;
  color: white;
  border-color:gray;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

footer {
           
        }
footer a{
	       text-decoration:none;
            color: white;
     
}     

.regSucc{
	padding-left:20%;
	padding-top: 15%;
}   

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

        
#justpushtobottom {
    height: 82vh;
}

.container-registrazione{
	margin-top:8%;
}

.login-container{
    margin-top: 8%;
    margin-bottom: 5%;
}

.login-logo{
    position: relative;
    margin-left: -41.5%;
}
.login-logo img{
    position: absolute;
    width: 20%;
    margin-top: 19%;
    background: #282726;
    border-radius: 4.5rem;
    padding: 5%;
}

.login-form-1{
    padding: 5%;
    background:#282726;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-1 h3{
    text-align: center;
    margin-bottom:12%;
    color:#fff;
}

.btnSubmit{
    font-weight: 600;
    margin-left:25%;
    width: 50%;
    color: #282726;
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
    padding:2%;
}
.btnForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.btnForgetPwd:hover{
    text-decoration:none;
    color:#fff;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#ins{
	margin-right:0;
}
/* ricerca percorso */

.btn-light{
	width: 50%;
}

#dettagliPercorso{
	padding-left:10%;
	margin-top:8%;
}

/* inserisci percorso */

.inserisciPercorso{
	margin-top: 50%;
}

.maps{
	margin-top:6%;
	margin-bottom: -14%;
	margin-left: -6%;
}

.dettagli{
	margin-top: 10%;
	padding-left: 10%;
}
#contatti{
  background-color: #70c3be;
  letter-spacing: 2px;
  }
#contatti a{
  color: #fff;
  text-decoration: none;
}


@media (max-width: 575.98px) {

  #contatti{padding-bottom: 800px;}
 }


@media (min-width: 576px) {

   #contatti{padding-bottom: 800px;}

   #contatti .maps iframe{
     width: 100%;
     height: 450px;
   }
 }

@media (min-width: 768px) {

  #contatti{padding-bottom: 350px;}

  #contatti .maps iframe{
    width: 100%;
    height: 850px;
  }
}

@media (min-width: 992px) {
  #contatti{padding-bottom: 200px;}

   #contatti .maps iframe{
     width: 100%;
     height: 700px;
   }
}


#author a{
  color: #fff;
  text-decoration: none;
    
}

<!-- ricercaBiglietto -->

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  